<html ng-app="testApp">
<head>
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="/js/angular/angular.js"></script>
    <script src="/js/checklist-model/checklist-model.js"></script>
    <script src="/js/angular-dragdrop/src/angular-dragdrop.min.js"></script>
</head>

<body>

    <div id="body">
        <div id="header">header</div>
        <div id="main">
            <div id="mainLeft">
                <div ng-controller="availableTestsController">
                    <div class="label-heading">
                        Available Tests
                    </div>
                    <div ng-repeat="test in availableTests" ng-model="availableTests" data-drag="true" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}">
                        {{ test.testName }}
                    </div>

                    <a href="/test">go to test view</a>
                </div>
            </div>
            <div id="mainWrapper">
                <div id="mainWrapperLeft">
                    <div ng-controller="dragController">

                        <div class="label-heading">
                            Suite Name
                        </div>
                        <input type="text" class="input-1" ng-model="suiteName" /><br />

                        <div id="globalVariableForm">

                            <div class="label-heading">
                                Global Variables
                            </div>

                            <div ng-repeat="variable in globalVariables">
                                <div id="globalVariableFormInput">
                                    <input type="input" class="input" ng-model="globalVariables[$index].key" />
                                    <input type="input" class="input" ng-model="globalVariables[$index].value" />
                                </div>

                                <div id="globalVariableFormTrash">
                                    <a href="#" ng-click="removeGlobalVariable($index)"><img src="img/trash_icon.png" /></a>
                                </div>
                            </div>

                            <input type="input" class="input" ng-model="globalVariableKey" />
                            <input type="input" class="input" ng-model="globalVariableValue" />
                            <div id="globalVariableSubmit">
                                <input type="button" class="button-style-1" ng-click="addGlobalVariable(globalVariableKey, globalVariableValue)" value="Add Global Variable" />
                            </div>


                        </div>

                        <div id="selectedTestArea">
                            <div class="label-heading">
                                Global Variables
                            </div>
                            <div ng-repeat="test in selectedTests track by $index" id="selectedTest">
                                {{ test.testName }}
                            </div>

                            <div id="selectedTestDragArea" data-drop="true" data-jqyoui-options ng-model="selectedTests" jqyoui-droppable>
                                drag test here
                            </div>
                        </div>

                        <div id="suiteSubmitionArea">
                            <input class="button-style-1" type="button" ng-click="submitSuite()" value="Save Test Suite" />
                        </div>
                    </div>
                </div>
                <div id="mainWrapperRight">
                    <div ng-controller='getTestSuiteController'>

                        Test Suites:<br />
                        <div ng-repeat="testSuite in testSuites">
                            <a href="/suite/{{testSuite._id}}">{{ testSuite.suiteName }}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="footer">footer</div>
    </div>


    <script>
        var app = angular.module("testApp", ["checklist-model", "ngDragDrop"]);

        app.factory("TestFactory", function() {

            var tests = {
                availableTests: [],
                selectedTests: []
            };

            return {
                getAvailableTests: function () {
                    return tests.availableTests;
                },
                setAvailableTests: function (availableTests) {
                    tests.availableTests = availableTests;
                },
                getSelectedTests: function () {
                    return tests.selectedTests;
                },
                setSelectedTests: function (selectedTests) {
                    tests.selectedTests = selectedTests;
                }
            };
        });

        app.controller("availableTestsController", function($scope, $http, TestFactory) {

            $scope.availableTests = [];

            $scope.init = function() {
                $http.get('/test?responseFormat=json').success(function(data) {
                    angular.forEach(data, function(test) {
                        $scope.availableTests.push({
                            _id: test._id,
                            testName: test.testName
                        });
                    });
                });
            };

            $scope.init();
        });

        app.controller("dragController", function($scope, $http, $window, TestFactory) {

            $scope.init = function() {
                $http.get('/test?responseFormat=json').success(function(data) {
                    angular.forEach(data, function(test) {
                        $scope.availableTests.push({
                            _id: test._id,
                            testName: test.testName
                        });
                    });
                });
            };

            $scope.availableTests = [];
            $scope.selectedTests = [];
            $scope.suiteName = 'suite name';

            $scope.globalVariables = [];

            $scope.addGlobalVariable = function(key, value) {
                $scope.globalVariables.push({'key': key, 'value': value});
            }

            $scope.removeGlobalVariable = function($index) {
                $scope.globalVariables.splice($index, 1);
            }

            $scope.submitSuite = function() {
                var globalVariables = {};

                angular.forEach($scope.globalVariables, function(globalVariable) {
                    globalVariables[globalVariable.key] = globalVariable.value;
                });

                var postData = {
                    suiteName: $scope.suiteName,
                    variables: {
                        global: globalVariables
                    },
                    tests: $scope.selectedTests
                }

                $http.post('http://localhost:1337/suite', postData).success(function(data) {
                    //$window.location.href = '/suite/' + data._id;
                    alert('good');
                });
            };

            $scope.init();
        });

        app.controller("getTestSuiteController", function($scope, $http, $window) {

            $scope.testSuites = [];

            $scope.init = function() {
                $http.get('/suite?responseFormat=json').success(function(data) {
                    $scope.testSuites = data;
                });
            };

            $scope.init();

        });

    </script>
</body>

</html>