<html ng-app="testApp">
<head>
    <title><%= title %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="/js/angular/angular.js"></script>
    <script src="/js/checklist-model/checklist-model.js"></script>
    <script src="/js/angular-dragdrop/src/angular-dragdrop.min.js"></script>
</head>

<body>
    <a href="/test">go to test view</a>

    <div ng-controller='getTestSuiteController'>

        Test Suites:<br />
        <div ng-repeat="testSuite in testSuites">
            <a href="/suite/{{testSuite._id}}">{{testSuite._id}}</a>
        </div>

    </div>

    <div ng-controller="dragController">
        Global Variables:<br />
        <div ng-repeat="variable in globalVariables">
            {{ variable.key }} : {{ variable.value}} <a href="#" ng-click="removeGlobalVariable($index)">remove</a><br />
        </div>

        <input type="input" ng-model="globalVariableKey" />
        <input type="input" ng-model="globalVariableValue" />
        <a href="#" ng-click="addGlobalVariable(globalVariableKey, globalVariableValue)">add global variable</a>
        <br />

        <div ng-repeat="test in availableTests" ng-model="availableTests" data-drag="true" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}">
            {{ test.testName }}
        </div>

        <br />
        Selected Tests:
        <div ng-repeat="test in selectedTests">
            {{ test.testName}} <br />
        </div>

        <div data-drop="true" data-jqyoui-options ng-model="selectedTests" jqyoui-droppable style='height:50px; border-style: solid;'>
            drag test here
        </div>

        {{ selectedTests }}

        <input type="button" ng-click="submitSuite()" value="submit" />
    </div>

    <script>
        var app = angular.module("testApp", ["checklist-model", "ngDragDrop"]);

        app.controller("dragController", function($scope, $http, $window) {

            $scope.init = function() {
                $http.get('/test?responseFormat=json').success(function(data) {
                    angular.forEach(data, function(test) {
                        $scope.availableTests.push({
                            _id: test._id,
                            testName: test.testName
                        });
                    });
                });
            };

            $scope.availableTests = [];
            $scope.selectedTests = [];

            $scope.globalVariables = [];

            $scope.addGlobalVariable = function(key, value) {
                $scope.globalVariables.push({'key': key, 'value': value});
            }

            $scope.removeGlobalVariable = function($index) {
                $scope.globalVariables.splice($index, 1);
            }

            $scope.submitSuite = function() {
                var globalVariables = {};

                angular.forEach($scope.globalVariables, function(globalVariable) {
                    globalVariables[globalVariable.key] = globalVariable.value;
                });

                var postData = {
                    variables: {
                        global: globalVariables
                    },
                    tests: $scope.selectedTests
                }

                $http.post('http://localhost:1337/suite', postData).success(function(data) {
                    //$window.location.href = '/suite/' + data._id;
                    alert('good');
                });
            };

            $scope.init();
        });

        app.controller("getTestSuiteController", function($scope, $http, $window) {

            $scope.testSuites = [];

            $scope.init = function() {
                $http.get('/suite?responseFormat=json').success(function(data) {
                    $scope.testSuites = data;
                });
            };

            $scope.init();

        });

    </script>
</body>

</html>