<html ng-app="testApp">
<head>
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script src="/js/angular/angular.js"></script>
</head>

<body>

    <div id="body">
        <div id="header">header</div>
        <div id="main">
            <div id="mainLeft">
                <div ng-controller="getTestController">

                    Tests:<br />
                    <div ng-repeat="test in tests">
                        <a href="/test/{{test._id}}">{{test.testName}}</a> | <a href="#" ng-click="removeTest(test._id)">remove</a>
                    </div>
                </div>
                <br />
                <a href="/suite">go to suite view</a>
            </div>
            <div id="mainWrapper">
                <div id="mainWrapperLeft">
                    <div ng-controller="addTestController">
                        <form>

                            <div class="label-heading">
                                Test Name
                            </div>

                            <input type="text" class="input-1" ng-model="testName" /> <br />

                            <select ng-model="selectedHttpMethod"
                                    ng-options="opt as opt.label for opt in httpMethods">
                            </select>

                            <input type="text" class="input-1" ng-model="url" />
                            <br />

                            <div id="globalVariableForm">

                                <div class="label-heading">
                                    Headers
                                </div>

                                <div ng-repeat="header in headers">
                                    <div id="globalVariableFormInput">
                                        <input type="input" class="input" ng-model="header.key" />
                                        <input type="input" class="input" ng-model="header.value" />
                                    </div>

                                    <div id="globalVariableFormTrash">
                                        <a href="#" ng-click="removeHeader($index)"><img src="img/trash_icon.png" /></a>
                                    </div>
                                </div>

                                <input type="input" class="input" ng-model="headerKey" />
                                <input type="input" class="input" ng-model="headerValue" />
                                <div id="globalVariableSubmit">
                                    <input type="button" class="button-style-1" ng-click="addHeader(headerKey, headerValue)" value="Add Header" />
                                </div>
                            </div>

                            <br />

                            <div id="bodyArea" ng-hide="isGetRequest()">
                                <div class="label-heading">
                                    Body
                                </div>

                                <textarea class="input-area" ng-model="body"></textarea> <br />
                            </div>

                            <div id="globalVariableForm">

                                <div class="label-heading">
                                    Output Variables
                                </div>

                                <div ng-repeat="variable in outputVariables">
                                    <div id="globalVariableFormInput">
                                        <input type="input" class="input" ng-model="variable.key" />
                                        <input type="input" class="input" ng-model="variable.value" />
                                    </div>

                                    <div id="globalVariableFormTrash">
                                        <a href="#" ng-click="removeOutputVariable($index)"><img src="img/trash_icon.png" /></a>
                                    </div>
                                </div>

                                <input type="input" class="input" ng-model="outputVariableKey" />
                                <input type="input" class="input" ng-model="outputVariableValue" />
                                <div id="globalVariableSubmit">
                                    <input type="button" class="button-style-1" ng-click="addOutputVariable(outputVariableKey, outputVariableValue)" value="Add Output Variable" />
                                </div>
                            </div>

                            <div ng-repeat="assertion in assertions">
                                <div ng-switch="assertion.type">
                                    <div ng-switch-when="responseCode">
                                        <div style="clear: both;">
                                            <div class="label-heading">
                                                Expected Response Code
                                            </div>
                                            <div style="float: left;">
                                                <input type="text" class="input-2" ng-model="assertion.expectedResponseCode" />
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="responseBody">

                                        <div style="clear: both;">
                                            <div class="label-heading-2" style="float: left;">Parameter</div>
                                            <div style="float: left;"><input type="text" class="input" ng-model="assertion.responseBodyParameter" /></div>
                                            <div class="label-heading-2" style="float: left; margin-left: 10px;">Expected Value</div>
                                            <div style="float: left;"><input type="text" class="input" ng-model="assertion.expectedValue" /></div>
                                        </div>
                                    </div>
                                    <div ng-switch-default>
                                        default!
                                    </div>
                                    <div style="float: left; padding-top: 12px">
                                        <a href="#" ng-click="removeAssertion($index)"><img src="img/trash_icon.png" /></a>
                                    </div>
                                </div>
                            </div>

                            <div style="clear: both;">
                                <input type="button" class="button-style-1" ng-click="addResponseCodeAssertion()" value="Add Response Code Assertion"/>
                            </div>

                            <div style="padding-top: 10px;">
                                <input type="button" class="button-style-1" ng-click="addResponseBodyAssertion()" value="Add Response Body Assertion"/>
                            </div>

                            <div style="padding-top: 10px;">
                                <input type="button" class="button-style-1" ng-click="submitTest()" value="Save Test"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="mainWrapperRight">
                    mainWrapperRight
                </div>
            </div>
        </div>
        <div id="footer">footer</div>
    </div>

    <script>
        var app = angular.module("testApp", []);

        app.service('sharedTestService', function($http) {

            var data = {
                tests: []
            };

            return {
                getTests: function() {
                    return data.tests;
                },
                setTests: function(tests) {
                    data.tests = tests;
                }
            };

            /*this.getTests = function(callback) {
                var tests = [];
                alert('in getTests');
                $http.get('/test').success(function(data) {
                    callback(data);
                });
            }*/
        });

        app.controller("getTestController", function($scope, $http, sharedTestService) {

            $scope.tests = [];

            $scope.init = function() {
                $http.get('/test?responseFormat=json').success(function(data) {
                    sharedTestService.setTests(data);
                });
            };

            $scope.$watch(function() { return sharedTestService.getTests(); }, function(data) {
                $scope.tests = data;
            });

            $scope.removeTest = function(testId) {
                $http.delete('/test/' + testId).success(function() {
                    $http.get('/test?responseFormat=json').success(function(data) {
                        sharedTestService.setTests(data);
                    });
                });
            };

            $scope.init();

        });

        app.controller("addTestController", function($scope, $http, sharedTestService) {
            $scope.httpMethods = [
                {label: 'GET', value: 'GET'},
                {label: 'POST', value: 'POST'},
                {label: 'PUT', value: 'PUT'},
                {label: 'DELETE', value: 'DELETE'},
            ];

            $scope.selectedHttpMethod = $scope.httpMethods[0];

            $scope.isGetRequest = function() {
                if($scope.selectedHttpMethod == $scope.httpMethods[0]) {
                    return true;
                }
                else {
                    return false;
                }
            }

            $scope.testName='test name';
            $scope.url='http://www.google.com/search?q=test';
            $scope.body = '';

            $scope.outputVariables = [];

            $scope.assertions = [];

            $scope.removeAssertion = function($index) {
                $scope.assertions.splice($index, 1);
            }

            $scope.addResponseCodeAssertion = function() {
                $scope.assertions.push({
                    type: 'responseCode',
                    expectedResponseCode: 200
                });
            }

            $scope.addResponseBodyAssertion = function() {
                $scope.assertions.push({
                    type: 'responseBody',
                    responseBodyParameter: '',
                    expectedValue: ''
                });
            }

            $scope.headers = [
                {
                    key: 'Content-Type',
                    value: 'application/json'
                }
            ];

            $scope.addOutputVariable = function(key, value) {
                $scope.outputVariables.push({'key':key, 'value': value});
            }

            $scope.removeOutputVariable = function($index) {
                $scope.outputVariables.splice($index, 1);
            }

            $scope.addHeader = function(key, value) {
                $scope.headers.push({'key': key, 'value': value});
            }

            $scope.removeHeader = function($index) {
                $scope.headers.splice($index, 1);
            }

            $scope.submitTest = function() {

                var headers = {};

                angular.forEach($scope.headers, function(header) {
                    headers[header.key] = header.value;
                });

                // should follow schema model
                var postData = {
                    testName: $scope.testName,
                    url: $scope.url,
                    httpMethod: $scope.selectedHttpMethod.value,
                    headers: headers,
                    body: $scope.body,
                    variables: {
                        output: $scope.outputVariables
                    },
                    assertions: $scope.assertions
                };

                var request = {
                    url: 'http://localhost:1337/test',
                    method: 'POST',
                    data: postData
                };

                $http(request)
                        .success(function() {
                            $http.get('/test?responseFormat=json').success(function(data) {
                                sharedTestService.setTests(data);
                            });
                        })
                        .error(function() { alert('bad')});
            }
        });

    </script>
</body>

</html>