<html ng-app="testApp">
<head>
    <title><%= title %></title>
    <script src="/js/angular/angular.js"></script>

    <style>
        html,
        body {
            margin:0;
            padding:0;
            color:#000;
            font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
            font-size: 10pt;
            background: #B5B9C8;
        }
        #body {
            width: 100%;
            margin:0 auto;
            background:#8990A9;
        }
        #header {
            padding:10px;
            background: #626C90;
            height: 40px;
        }
        #mainLeft {
            float:left;
            width:20%;
            padding:0px;
            background: #DEDFE5;
        }
        #mainWrapper {
            float:right;
            width:80%;
        }
        #mainWrapperLeft {
            float:left;
            width:75%;
            padding:0px;
            background:#DEDFE5;
        }
        #mainWrapperRight {
            float:right;
            width:25%;
            padding:0px;
            background: #DEDFE5;
        }
        #footer {
            clear:both;
            padding:10px;
            background: #626C90;
            height: 40px;
        }

    </style>
</head>

<body>

    <div id="body">
        <div id="header">header</div>
        <div id="main">
            <div id="mainLeft">
                <div ng-controller="getTestController">

                    Tests:<br />
                    <div ng-repeat="test in tests">
                        <a href="/test/{{test._id}}">{{test.testName}}</a> | <a href="#" ng-click="removeTest(test._id)">remove</a>
                    </div>
                </div>
                <br />
                <a href="/suite">go to suite view</a>
            </div>
            <div id="mainWrapper">
                <div id="mainWrapperLeft">
                    <div ng-controller="addTestController">
                        <form>

                            Input Variables:
                            <div ng-repeat="(key, value) in inputVariables">
                                {{ key }} : {{ value }} <a href="#" ng-click="removeInputVariable(key)">remove input variable</a>
                            </div>
                            <input type="input" ng-model="inputVariableKey" />
                            <input type="input" ng-model="inputVariableValue" />
                            <a href="#" ng-click="addInputVariable(inputVariableKey, inputVariableValue)">add input variable</a>


                            <br />
                            Test Name:
                            <input type="text" ng-model="testName" /> <br />

                            <select ng-model="selectedHttpMethod"
                                    ng-options="opt as opt.label for opt in httpMethods">
                            </select>

                            <input type="text" ng-model="url" size="50" />

                            <br />
                            Headers:<br />
                            <div ng-repeat="header in headers">
                                {{ header.key }} : {{ header.value}} <a href="#" ng-click="removeHeader($index)">remove</a><br />
                            </div>

                            <input type="input" ng-model="headerKey" />
                            <input type="input" ng-model="headerValue" />
                            <a href="#" ng-click="addHeader(headerKey, headerValue)">add header</a>

                            <br />
                            Body:<br />
                            <textarea rows="4" cols="50" ng-model="body"></textarea> <br />
                            <input type="button" ng-click="submitTest()" value="Submit"/> <br />

                            Output Variables:
                            <div ng-repeat="(key, value) in outputVariables">
                                {{ key }} : {{ value }} <a href="#" ng-click="removeOutputVariable(key)">remove output variable</a>
                            </div>
                            <input type="input" ng-model="outputVariableKey" />
                            <input type="input" ng-model="outputVariableValue" />
                            <a href="#" ng-click="addOutputVariable(outputVariableKey, outputVariableValue)">add output variable</a>


                            <br />
                            <div ng-repeat="assertion in assertions">
                                <div ng-switch="assertion.type">
                                    <div ng-switch-when="responseCode">
                                        expected response code: <input type="text" size="5" ng-model="assertion.expectedResponseCode" /><br />
                                    </div>
                                    <div ng-switch-when="responseBody">
                                        parameter: <input type="text" ng-model="assertion.responseBodyParameter" /><br />
                                        expected value: <input type="text" ng-model="assertion.expectedValue" />
                                    </div>
                                    <div ng-switch-default>
                                        default!
                                    </div>
                                    <a href="#" ng-click="removeAssertion($index)">remove assertion</a><br />
                                </div>
                            </div>
                            <a href="#" ng-click="addResponseCodeAssertion()">add response code assertion</a><br />
                            <a href="#" ng-click="addResponseBodyAssertion()">add response body assertion</a>
                        </form>
                    </div>
                </div>
                <div id="mainWrapperRight">
                    mainWrapperRight
                </div>
            </div>
        </div>
        <div id="footer">footer</div>
    </div>

    <script>
        var app = angular.module("testApp", []);

        app.service('sharedTestService', function($http) {

            var data = {
                tests: []
            };

            return {
                getTests: function() {
                    return data.tests;
                },
                setTests: function(tests) {
                    data.tests = tests;
                }
            };

            /*this.getTests = function(callback) {
                var tests = [];
                alert('in getTests');
                $http.get('/test').success(function(data) {
                    callback(data);
                });
            }*/
        });

        app.controller("getTestController", function($scope, $http, sharedTestService) {

            $scope.tests = [];

            $scope.init = function() {
                $http.get('/test?responseFormat=json').success(function(data) {
                    sharedTestService.setTests(data);
                });
            };

            $scope.$watch(function() { return sharedTestService.getTests(); }, function(data) {
                $scope.tests = data;
            });

            $scope.removeTest = function(testId) {
                $http.delete('/test/' + testId).success(function() {
                    $http.get('/test?responseFormat=json').success(function(data) {
                        sharedTestService.setTests(data);
                    });
                });
            };

            $scope.init();

        });

        app.controller("addTestController", function($scope, $http, sharedTestService) {
            $scope.httpMethods = [
                {label: 'GET', value: 'GET'},
                {label: 'POST', value: 'POST'},
                {label: 'PUT', value: 'PUT'},
                {label: 'DELETE', value: 'DELETE'},
            ];

            $scope.selectedHttpMethod = $scope.httpMethods[0];

            $scope.testName='test name';
            $scope.url='http://www.google.com/search?q=test';
            $scope.body = '';

            $scope.inputVariables = {
                test: 'test123',
                test2: 'test123'
            };

            $scope.outputVariables = {
                field: 'value'
            }

            $scope.assertions = [];

            $scope.removeAssertion = function($index) {
                $scope.assertions.splice($index, 1);
            }

            $scope.addResponseCodeAssertion = function() {
                $scope.assertions.push({
                    type: 'responseCode',
                    expectedResponseCode: 200
                });
            }

            $scope.addResponseBodyAssertion = function() {
                $scope.assertions.push({
                    type: 'responseBody',
                    responseBodyParameter: 'parameter',
                    expectedValue: 'expected'
                });
            }

            $scope.headers = [
                {
                    key: 'Content-Type',
                    value: 'application/json'
                }
            ];

            $scope.addInputVariable = function(key, value) {
                $scope.inputVariables[key] = value;
            }

            $scope.removeInputVariable = function(key) {
                delete $scope.inputVariables[key];
            }

            $scope.addOutputVariable = function(key, value) {
                $scope.outputVariables[key] = value;
            }

            $scope.removeOutputVariable = function(key) {
                delete $scope.outputVariables[key];
            }

            $scope.addHeader = function(key, value) {
                $scope.headers.push({'key': key, 'value': value});
            }

            $scope.removeHeader = function($index) {
                $scope.headers.splice($index, 1);
            }

            $scope.submitTest = function() {

                var headers = {};

                angular.forEach($scope.headers, function(header) {
                    headers[header.key] = header.value;
                });

                // should follow schema model
                var postData = {
                    testName: $scope.testName,
                    url: $scope.url,
                    httpMethod: $scope.selectedHttpMethod.value,
                    headers: headers,
                    body: $scope.body,
                    variables: {
                        input: $scope.inputVariables,
                        output: $scope.outputVariables
                    },
                    assertions: $scope.assertions
                };

                var request = {
                    url: 'http://localhost:1337/test',
                    method: 'POST',
                    data: postData
                };

                $http(request)
                        .success(function() {
                            $http.get('/test?responseFormat=json').success(function(data) {
                                sharedTestService.setTests(data);
                            });
                        })
                        .error(function() { alert('bad')});
            }
        });

    </script>
</body>

</html>